@font-face {
  font-family: Montserrat;
  src: url(/src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  background-color: var(--bg-primary);
  color: var(--text-primary);

  --text-primary: #e8e9f0;
  --bg-primary: #0a0a0f;
  --bg-secondary: #282828;
  --accent: #06b6d4;
  --accent-secondary: #67c6de;
  --accent-tertiary: #81cee2;
  --grey: #3f3f3f;
  --grey-secondary: #5a5a5a;
  --grey-tertiary: #8f8e8e;
  --light-grey: #a9adb4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.content {
  padding: 0 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .content {
    padding: 0 2rem;
  }
}
